<html>
  <head>
    <title>Coral Edge TPU Streamer</title>
  </head>
  <body>
    <h1>Coral Edge TPU Streamer</h1>
    <img src="{{ url_for('video_feed') }}">
    <button onclick="updateConfig()">Update Config</button>
    <label for="label-select">Choose a Label:</label>
    <select name="labels" id="label-select">
        <option value="person">Person</option>
        <option value="bird">Bird</option>
        <option value="book">Book</option>
        <option value="dog">Dog</option>
        <option value="all">All</option>
    </select>
    <div>
      <input type="range" id="threshold-select" name="threshold"
             min="0" max="100">
      <label for="threshold">Threshold</label>
    </div>
    <div>
      Actions
      <input type="checkbox" id="hoot" name="hoot">
      <label for="hoot">Hoot</label><br>
      <input type="checkbox" id="alertPhone" name="alertPhone">
      <label for="alertPhone">Alert</label><br>
    </div>

  </body>

<script>
async function updateConfig() {
  var labelSelector = document.getElementById("label-select");
  var selectedLabel = labelSelector.value;
  var thresholdSelector = document.getElementById("threshold-select");
  var selectedThreshold = thresholdSelector.value / 100;
  var thresholdSelector = document.getElementById("threshold-select");
  var selectedThreshold = thresholdSelector.value / 100;
  
  var hoot = document.getElementById("hoot");
  console.log(hoot.checked)
  var alertPhone = document.getElementById("alertPhone");
  console.log(alertPhone.checked)

  const config = {
    'selected_label': selectedLabel,
    'selected_threshold': selectedThreshold
  }
  console.log("CONFIG: ", config)
  const result = await fetch("{{ url_for('update_config') }}", {
    method: 'POST',
    body: JSON.stringify(config),
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(resp => resp.json())
  console.log(result)
}
</script>
</html>
